[Unit]
Description=Starts up the wiki
Requires=-.mount
After=-.mount  

[Install]
RequiredBy=multi-user.target

[Service]
Type=exec
RemainAfterExit=true
ExecStart=su - wiki -c "cd /home/wiki && ./serve.sh"
ExecStop=/bin/kill -SIGTERM "$MAINPID"
