[Unit]
Description=Starts up the wiki
Requires=-.mount
After=-.mount  

[Install]
RequiredBy=multi-user.target

[Service]
Type=simple
User=wiki
RemainAfterExit=true
WorkingDirectory=/home/wiki
ExecStart=/home/wiki/serve.sh
Restart=on-failure
StartLimitIntervalSec=30
StartLimitBurst=2
MemoryMax=7G
