<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Race Analysis Target" sequenceNumber="227">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="javax.ws.rs" version="1.1.1.v20130318-1750"/>
<unit id="javax.ws.rs.source" version="1.1.1.v20130318-1750"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.mockito.mockito-core" version="4.8.1.v20221103-2317"/>
<unit id="org.mockito.mockito-core.source" version="4.8.1.v20221103-2317"/>
<unit id="org.objenesis" version="3.3.0.v20221103-2317"/>
<unit id="org.objenesis.source" version="3.3.0.v20221103-2317"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20221123021534/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.objectweb.asm" version="9.8.0"/>
<unit id="org.objectweb.asm.source" version="9.8.0"/>
<unit id="org.objectweb.asm.tree" version="9.8.0"/>
<unit id="org.objectweb.asm.tree.source" version="9.8.0"/>
<unit id="org.objectweb.asm.tree.analysis" version="9.8.0"/>
<unit id="org.objectweb.asm.tree.analysis.source" version="9.8.0"/>
<unit id="org.objectweb.asm.commons" version="9.8.0"/>
<unit id="org.objectweb.asm.commons.source" version="9.8.0"/>
<unit id="org.objectweb.asm.tree" version="9.8.0"/>
<unit id="org.objectweb.asm.tree.source" version="9.8.0"/>
<unit id="org.objectweb.asm.util" version="9.8.0"/>
<unit id="org.objectweb.asm.util.source" version="9.8.0"/>
<unit id="com.sun.jna" version="5.17.0.v20250316-1700"/>
<unit id="com.sun.jna.source" version="5.17.0.v20250316-1700"/>
<unit id="com.sun.jna.platform" version="5.17.0"/>
<unit id="com.sun.jna.platform.source" version="5.17.0"/>
<repository location="https://download.eclipse.org/releases/2025-06/202506111000/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="javax.annotation" version="1.3.5.v20200909-1856"/>
<unit id="org.apache.poi" version="4.1.1.v20200604-1524"/>
<unit id="org.apache.poi.ooxml" version="4.1.1.v20200820-1148"/>
<unit id="org.apache.poi.ooxml.schemas" version="4.1.1.v20200922-2105"/>
<unit id="org.apache.poi.source" version="4.1.1.v20200604-1524"/>
<unit id="org.apache.poi.ooxml.source" version="4.1.1.v20200820-1148"/>
<unit id="org.apache.commons.collections4" version="4.4.0.v20200420-1700"/>
<unit id="org.apache.commons.collections4.source" version="4.4.0.v20200420-1700"/>
<unit id="org.apache.commons.compress" version="1.19.0.v20200106-2343"/>
<unit id="org.apache.commons.compress.source" version="1.19.0.v20200106-2343"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20201130205003/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.gson" version="2.8.9.v20220111-1409"/>
<unit id="com.google.gson.source" version="2.8.9.v20220111-1409"/>
<unit id="org.hamcrest" version="2.2.0.v20210711-0821"/>
<unit id="org.hamcrest.source" version="2.2.0.v20210711-0821"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220531185310/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.sun.jersey" version="1.17.0.v201503170330"/>
<unit id="com.sun.jersey.source" version="1.17.0.v201503170330"/>
<unit id="javax.validation" version="1.0.0.GA_v201205091237"/>
<unit id="javax.validation.source" version="1.0.0.GA_v201205091237"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="javax.xml.bind.source" version="2.2.0.v201105210648"/>
<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
<unit id="javax.xml.ws" version="2.1.0.v200902101523"/>
<unit id="javax.xml.soap" version="1.2.0.v201005080501"/>
<unit id="org.apache.commons.codec" version="1.10.0.v20180409-1845"/>
<unit id="org.apache.commons.codec.source" version="1.10.0.v20180409-1845"/>
<unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
<unit id="org.apache.commons.collections.source" version="3.2.2.v201511171945"/>
<unit id="org.apache.commons.fileupload" version="1.2.2.v20111214-1400"/>
<unit id="org.apache.commons.fileupload.source" version="1.2.2.v20111214-1400"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.io.source" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.math" version="2.1.0.v201105210652"/>
<unit id="org.apache.commons.math.source" version="2.1.0.v201105210652"/>
<unit id="org.apache.commons.math3" version="3.5.0.v20160301-1110"/>
<unit id="org.apache.commons.math3.source" version="3.5.0.v20160301-1110"/>
<unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.5.5.v20180409-1525"/>
<unit id="org.apache.httpcomponents.httpclient.source" version="4.5.5.v20180409-1525"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.4.9.v20180409-1525"/>
<unit id="org.apache.httpcomponents.httpcore.source" version="4.4.9.v20180409-1525"/>
<unit id="org.apache.xalan" version="2.7.1.v201005080400"/>
<unit id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20180905201904/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="9.4.58.v20250814"/>
<unit id="org.eclipse.jetty.bundles.f.source.feature.group" version="9.4.58.v20250814"/>
<repository location="https://p2.sapsailing.com/p2/jetty-9.4.58.v20250814"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.felix.gogo.command" version="1.1.0.v20201023-1558"/>
<unit id="org.apache.felix.gogo.runtime" version="1.1.2.v20201023-1558"/>
<unit id="org.apache.felix.gogo.shell" version="1.1.2.v20201023-1558"/>
<unit id="org.eclipse.equinox.app" version="1.5.0.v20200717-0620"/>
<unit id="org.eclipse.equinox.cm" version="1.4.400.v20200422-1833"/>
<unit id="org.eclipse.equinox.common" version="3.14.0.v20201102-2053"/>
<unit id="org.eclipse.equinox.concurrent" version="1.1.500.v20200106-1437"/>
<unit id="org.eclipse.equinox.console" version="1.4.200.v20200828-1034"/>
<unit id="org.eclipse.equinox.coordinator" version="1.3.800.v20200422-1833"/>
<unit id="org.eclipse.equinox.device" version="1.1.0.v20200810-0747"/>
<unit id="org.eclipse.equinox.ds" version="1.6.200.v20200422-1833"/>
<unit id="org.eclipse.equinox.event" version="1.5.500.v20200616-0800"/>
<unit id="org.eclipse.equinox.http.jetty" version="3.7.500.v20200915-1207"/>
<unit id="org.eclipse.equinox.http.registry" version="1.2.0.v20200614-1851"/>
<unit id="org.eclipse.equinox.http.servletbridge" version="1.1.200.v20200422-1833"/>
<unit id="org.eclipse.equinox.launcher" version="1.6.0.v20200915-1508"/>
<unit id="org.eclipse.equinox.metatype" version="1.5.300.v20200422-1833"/>
<unit id="org.eclipse.equinox.preferences" version="3.8.100.v20201102-2042"/>
<unit id="org.eclipse.equinox.region" version="1.5.0.v20200807-1629"/>
<unit id="org.eclipse.equinox.registry" version="3.10.0.v20201107-1818"/>
<unit id="org.eclipse.equinox.servletbridge" version="1.6.0.v20200511-1902"/>
<unit id="org.eclipse.equinox.simpleconfigurator" version="1.3.600.v20200721-1308"/>
<unit id="org.eclipse.equinox.supplement" version="1.10.0.v20200612-0806"/>
<unit id="org.eclipse.equinox.transforms.hook" version="1.2.500.v20190714-1852"/>
<unit id="org.eclipse.equinox.transforms.xslt" version="1.1.100.v20200422-1833"/>
<unit id="org.eclipse.equinox.useradmin" version="1.2.0.v20200807-1148"/>
<repository location="https://download.eclipse.org/releases/2020-12"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.http.service.api" version="1.2.2.v20231218-2126"/>
<unit id="org.eclipse.equinox.http.service.api.source" version="1.2.2.v20231218-2126"/>
<unit id="org.eclipse.osgi" version="3.19.0.v20240213-1246"/>
<unit id="org.eclipse.osgi.source" version="3.19.0.v20240213-1246"/>
<unit id="org.eclipse.osgi.services" version="3.12.0.v20231218-2126"/>
<unit id="org.eclipse.osgi.services.source" version="3.12.0.v20231218-2126"/>
<unit id="org.eclipse.osgi.util" version="3.7.300.v20231104-1118"/>
<unit id="org.eclipse.osgi.util.source" version="3.7.300.v20231104-1118"/>                                                                
<unit id="org.osgi.util.promise" version="1.3.0.202212101352"/>
<unit id="org.osgi.util.promise.source" version="1.3.0.202212101352"/>
<unit id="org.osgi.util.function" version="1.2.0.202109301733"/>
<unit id="org.osgi.util.function.source" version="1.2.0.202109301733"/>
<unit id="org.osgi.util.measurement" version="1.0.2.201802012109"/>
<unit id="org.osgi.util.measurement.source" version="1.0.2.201802012109"/>
<unit id="org.osgi.util.position" version="1.0.1.201505202026"/>
<unit id="org.osgi.util.position.source" version="1.0.1.201505202026"/>
<unit id="org.osgi.service.metatype" version="1.4.1.202109301733"/>
<unit id="org.osgi.service.metatype.source" version="1.4.1.202109301733"/>
<unit id="org.osgi.service.provisioning" version="1.2.0.201505202024"/>
<unit id="org.osgi.service.provisioning.source" version="1.2.0.201505202024"/>
<unit id="org.osgi.service.upnp" version="1.2.1.202109301733"/>
<unit id="org.osgi.service.upnp.source" version="1.2.1.202109301733"/>
<unit id="org.osgi.service.device" version="1.1.1.202109301733"/>
<unit id="org.osgi.service.device.source" version="1.1.1.202109301733"/>
<unit id="org.osgi.service.http.whiteboard" version="1.1.1.202109301733"/>
<unit id="org.osgi.service.http.whiteboard.source" version="1.1.1.202109301733"/>
<unit id="org.osgi.service.wireadmin" version="1.0.2.202109301733"/>
<unit id="org.osgi.service.wireadmin.source" version="1.0.2.202109301733"/>
<unit id="org.osgi.service.useradmin" version="1.1.1.202109301733"/>
<unit id="org.osgi.service.useradmin.source" version="1.1.1.202109301733"/>
<unit id="org.osgi.util.xml" version="1.0.2.202109301733"/>
<unit id="org.osgi.util.xml.source" version="1.0.2.202109301733"/>
<repository location="https://download.eclipse.org/releases/2024-03"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="junit-jupiter-api" version="5.11.3"/>
<unit id="junit-jupiter-api.source" version="5.11.3"/>
<unit id="junit-jupiter-engine" version="5.11.3"/>
<unit id="junit-jupiter-engine.source" version="5.11.3"/>
<unit id="junit-jupiter-migrationsupport" version="5.11.3"/>
<unit id="junit-jupiter-migrationsupport.source" version="5.11.3"/>
<unit id="junit-jupiter-params" version="5.11.3"/>
<unit id="junit-jupiter-params.source" version="5.11.3"/>
<unit id="junit-platform-commons" version="1.11.3"/>
<unit id="junit-platform-commons.source" version="1.11.3"/>
<unit id="junit-platform-engine" version="1.11.3"/>
<unit id="junit-platform-engine.source" version="1.11.3"/>
<unit id="junit-platform-launcher" version="1.11.3"/>
<unit id="junit-platform-launcher.source" version="1.11.3"/>
<unit id="junit-platform-runner" version="1.11.3"/>
<unit id="junit-platform-runner.source" version="1.11.3"/>
<unit id="org.opentest4j" version="1.3.0"/>
<unit id="org.opentest4j.source" version="1.3.0"/>
<repository location="https://download.eclipse.org/releases/2024-12/202412041000/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.xmlbeans" version="3.1.0.v20200922-1359"/>
<unit id="org.apache.xmlbeans.source" version="3.1.0.v20200922-1359"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210223232630/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.amazon.aws.aws-java-api.feature.group" version="2.32.25"/>
<repository location="https://p2.sapsailing.com/p2/aws-sdk/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.sap.sailing.target.base.feature.group" version="1.0.0"/>
<unit id="com.sap.sailing.target.jackson.feature.group" version="1.0.0"/>
<unit id="com.sap.sailing.target.jms.feature.group" version="1.0.0"/>
<unit id="com.sap.sailing.target.shiro.feature.group" version="1.0.0"/>
<unit id="com.sap.sailing.target.smile.feature.group" version="1.0.0"/>
<unit id="com.sap.sailing.target.test.feature.group" version="1.0.0"/>
<repository location="https://p2.sapsailing.com/p2/sailing/"/>
</location>
<!-- local update site -->
<!-- location path="C:\repository\java\com.sap.sailing.targetplatform.base\target\repository" type="Directory"/ -->
</locations>
<includeBundles>
<plugin id="com.rabbitmq.client"/>
<plugin id="com.rabbitmq.client.source"/>
<plugin id="com.sun.activation.javax.activation"/>
<plugin id="com.sun.istack.commons-runtime"/>
<plugin id="com.sun.jersey"/>
<plugin id="com.sun.jersey.contribs.jersey-multipart"/>
<plugin id="com.sun.jersey.source"/>
<plugin id="com.sun.mail.javax.mail"/>
<plugin id="com.sun.xml.bind.jaxb-impl"/>
<plugin id="jackson-core-asl"/>
<plugin id="jackson-jaxrs"/>
<plugin id="jackson-mapper-asl"/>
<plugin id="com.fasterxml.jackson.core.jackson-core"/>
<plugin id="javax.security.auth.message"/>
<plugin id="javax.security.auth.message.source"/>
<plugin id="javax.validation"/>
<plugin id="javax.validation.source"/>
<plugin id="javax.ws.rs"/>
<plugin id="javax.ws.rs.source"/>
<plugin id="javax.xml"/>
<plugin id="javax.xml.stream"/>
<plugin id="javax.xml.ws"/>
<plugin id="javax.xml.soap"/>
<plugin id="jcl.over.slf4j"/>
<plugin id="jul.to.slf4j"/>
<plugin id="lz4-java"/>
<plugin id="org.apache.commons.beanutils"/>
<plugin id="org.apache.commons.beanutils.source"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.apache.commons.collections"/>
<plugin id="org.apache.commons.collections.source"/>
<plugin id="org.apache.commons.fileupload"/>
<plugin id="org.apache.commons.fileupload.source"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.apache.commons.io.source"/>
<plugin id="org.apache.commons.lang"/>
<plugin id="org.apache.commons.lang.source"/>
<plugin id="org.apache.commons.math"/>
<plugin id="org.apache.commons.math.source"/>
<plugin id="org.apache.commons.math3"/>
<plugin id="org.apache.commons.math3.source"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.apache.felix.gogo.command"/>
<plugin id="org.apache.felix.gogo.command.source"/>
<plugin id="org.apache.felix.gogo.runtime"/>
<plugin id="org.apache.felix.gogo.runtime.source"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.apache.felix.gogo.shell.source"/>
<plugin id="org.apache.httpcomponents.httpclient"/>
<plugin id="org.apache.httpcomponents.httpclient.source"/>
<plugin id="org.apache.httpcomponents.httpcore"/>
<plugin id="org.apache.httpcomponents.httpcore.source"/>
<plugin id="org.apache.poi"/>
<plugin id="org.apache.poi.ooxml"/>
<plugin id="org.apache.poi.ooxml.schemas"/>
<plugin id="org.apache.commons.collections4"/>
<plugin id="org.apache.commons.compress"/>
<plugin id="org.apache.servicemix.bundles.ehcache"/>
<plugin id="org.apache.servicemix.bundles.ehcache.source"/>
<plugin id="org.apache.servicemix.bundles.scribe"/>
<plugin id="org.apache.servicemix.bundles.scribe.source"/>
<plugin id="org.apache.servicemix.bundles.zxing"/>
<plugin id="org.apache.shiro.core"/>
<plugin id="org.apache.shiro.ehcache"/>
<plugin id="org.apache.shiro.web"/>
<plugin id="com.github.haifengl.smile-core"/>
<plugin id="com.github.haifengl.smile-data"/>
<plugin id="com.github.haifengl.smile-graph"/>
<plugin id="com.github.haifengl.smile-math"/>
<plugin id="com.github.haifengl.smile-core.source"/>
<plugin id="com.github.haifengl.smile-data.source"/>
<plugin id="com.github.haifengl.smile-graph.source"/>
<plugin id="com.github.haifengl.smile-math.source"/>
<plugin id="org.owasp.encoder"/>
<plugin id="org.apache.shiro.core.source"/>
<plugin id="org.apache.shiro.ehcache.source"/>
<plugin id="org.apache.shiro.web.source"/>
<plugin id="org.owasp.encoder.source"/>
<plugin id="org.apache.xmlbeans"/>
<plugin id="org.codehaus.jettison.jettison"/>
<plugin id="org.dom4j"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="org.eclipse.equinox.cm.source"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.eclipse.equinox.console"/>
<plugin id="org.eclipse.equinox.console.source"/>
<plugin id="org.eclipse.equinox.http.service.api"/>
<plugin id="org.eclipse.equinox.http.service.api.source"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="org.eclipse.equinox.launcher.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.source"/>
<plugin id="org.eclipse.jetty.annotations"/>
<plugin id="org.eclipse.jetty.annotations.source"/>
<plugin id="org.eclipse.jetty.client"/>
<plugin id="org.eclipse.jetty.client.source"/>
<plugin id="org.eclipse.jetty.continuation"/>
<plugin id="org.eclipse.jetty.deploy"/>
<plugin id="org.eclipse.jetty.deploy.source"/>
<plugin id="org.eclipse.jetty.http"/>
<plugin id="org.eclipse.jetty.http.source"/>
<plugin id="org.eclipse.jetty.jaas"/>
<plugin id="org.eclipse.jetty.jmx"/>
<plugin id="org.eclipse.jetty.jmx.source"/>
<plugin id="org.eclipse.jetty.osgi.boot"/>
<plugin id="org.eclipse.jetty.osgi.boot.source"/>
<plugin id="org.eclipse.jetty.osgi.boot.warurl"/>
<plugin id="org.eclipse.jetty.osgi.boot.warurl.source"/>
<plugin id="org.eclipse.jetty.proxy"/>
<plugin id="org.eclipse.jetty.rewrite"/>
<plugin id="org.eclipse.jetty.rewrite.source"/>
<plugin id="org.eclipse.jetty.security"/>
<plugin id="org.eclipse.jetty.security.source"/>
<plugin id="org.eclipse.jetty.server"/>
<plugin id="org.eclipse.jetty.server.source"/>
<plugin id="org.eclipse.jetty.servlet"/>
<plugin id="org.eclipse.jetty.servlet.source"/>
<plugin id="org.eclipse.jetty.util"/>
<plugin id="org.eclipse.jetty.util.source"/>
<plugin id="org.eclipse.jetty.util.ajax"/>
<plugin id="org.eclipse.jetty.util.ajax.source"/>
<plugin id="org.eclipse.jetty.webapp"/>
<plugin id="org.eclipse.jetty.webapp.source"/>
<plugin id="org.eclipse.jetty.websocket.api"/>
<plugin id="org.eclipse.jetty.websocket.api.source"/>
<plugin id="org.eclipse.jetty.websocket.client"/>
<plugin id="org.eclipse.jetty.websocket.client.source"/>
<plugin id="org.eclipse.jetty.websocket.common"/>
<plugin id="org.eclipse.jetty.websocket.common.source"/>
<plugin id="org.eclipse.jetty.websocket.server"/>
<plugin id="org.eclipse.jetty.websocket.server.source"/>
<plugin id="org.eclipse.jetty.websocket.servlet"/>
<plugin id="org.eclipse.jetty.websocket.servlet.source"/>
<plugin id="org.eclipse.jetty.xml"/>
<plugin id="org.eclipse.jetty.xml.source"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.hamcrest"/>
<plugin id="org.hamcrest.source"/>
<plugin id="org.hyperic.sigar"/>
<plugin id="junit-jupiter-api"/>
<plugin id="junit-jupiter-api.source"/>
<plugin id="junit-jupiter-engine"/>
<plugin id="junit-jupiter-engine.source"/>
<plugin id="junit-jupiter-migrationsupport"/>
<plugin id="junit-jupiter-migrationsupport.source"/>
<plugin id="junit-jupiter-params"/>
<plugin id="junit-jupiter-params.source"/>
<plugin id="junit-platform-commons"/>
<plugin id="junit-platform-commons.source"/>
<plugin id="junit-platform-engine"/>
<plugin id="junit-platform-engine.source"/>
<plugin id="junit-platform-launcher"/>
<plugin id="junit-platform-launcher.source"/>
<plugin id="junit-platform-runner"/>
<plugin id="junit-platform-runner.source"/>
<plugin id="org.opentest4j"/>
<plugin id="org.opentest4j.source"/>
<plugin id="org.jvnet.mimepull"/>
<plugin id="org.mockito.mockito-core"/>
<plugin id="org.mockito.mockito-core.source"/>
<plugin id="net.bytebuddy.byte-buddy"/>
<plugin id="net.bytebuddy.byte-buddy.source"/>
<plugin id="net.bytebuddy.byte-buddy-agent"/>
<plugin id="net.bytebuddy.byte-buddy-agent.source"/>
<plugin id="com.sun.jna"/>
<plugin id="com.sun.jna.source"/>
<plugin id="com.sun.jna.platform"/>
<plugin id="com.sun.jna.platform.source"/>
<plugin id="org.mongodb.bson"/>
<plugin id="org.mongodb.bson.source"/>
<plugin id="org.mongodb.driver-core"/>
<plugin id="org.mongodb.driver-core.source"/>
<plugin id="org.mongodb.driver-sync"/>
<plugin id="org.mongodb.driver-sync.source"/>
<plugin id="org.objenesis"/>
<plugin id="org.objenesis.source"/>
<plugin id="routeconverter"/>
<plugin id="slf4j.api"/>
<plugin id="com.chargebee.chargebee-java"/>
<plugin id="com.chargebee.chargebee-java.source"/>
<plugin id="slf4j.jdk14"/>
<plugin id="com.amazon.aws.aws-java-api"/>
<plugin id="com.github.mwiede.jsch"/>
<plugin id="com.github.mwiede.jsch.source"/>
<plugin id="bcprov-ext"/>
<plugin id="org.apache.commons.codec.source"/>
<plugin id="org.apache.poi.ooxml.source"/>
<plugin id="org.apache.poi.source"/>
<plugin id="org.apache.commons.collections4.source"/>
<plugin id="org.apache.commons.compress.source"/>
<plugin id="org.apache.xmlbeans.source"/>
<plugin id="org.dom4j.source"/>
<plugin id="com.amazon.aws.aws-java-api.source"/>
<plugin id="com.sap.db.jdbc"/>
<plugin id="com.sap.db.jdbc.source"/>
<plugin id="org.eclipse.equinox.event"/>
<plugin id="org.eclipse.equinox.event.source"/>
<plugin id="org.eclipse.jetty.jndi"/>
<plugin id="org.eclipse.jetty.jndi.source"/>
<plugin id="org.eclipse.jetty.plus"/>
<plugin id="org.eclipse.jetty.plus.source"/>
<plugin id="javax.annotation-api"/>
<plugin id="org.apache.aries.spifly.dynamic.bundle"/>
<plugin id="org.apache.aries.spifly.dynamic.bundle.source"/>
<plugin id="org.objectweb.asm"/>
<plugin id="org.objectweb.asm.source"/>
<plugin id="org.objectweb.asm.commons"/>
<plugin id="org.objectweb.asm.commons.source"/>
<plugin id="org.objectweb.asm.tree"/>
<plugin id="org.objectweb.asm.tree.source"/>
<plugin id="org.objectweb.asm.util"/>
<plugin id="org.objectweb.asm.util.source"/>
<plugin id="org.objectweb.asm.tree"/>
<plugin id="org.objectweb.asm.tree.source"/>
<plugin id="org.objectweb.asm.tree.analysis"/>
<plugin id="org.objectweb.asm.tree.analysis.source"/>
<plugin id="org.apache.geronimo.specs.geronimo-jta_1.1_spec"/>
<plugin id="org.mortbay.jasper.apache-el"/>
<plugin id="org.mortbay.jasper.apache-jsp"/>
<plugin id="org.mortbay.jasper.apache-el.source"/>
<plugin id="org.mortbay.jasper.apache-jsp.source"/>
<plugin id="org.eclipse.jetty.apache-jsp"/>
<plugin id="org.eclipse.jetty.apache-jsp.source"/>
<plugin id="org.eclipse.jdt.core.compiler.batch"/>
<plugin id="org.eclipse.jetty.osgi.boot.jsp"/>
<plugin id="org.apache.taglibs.standard-impl"/>
<plugin id="org.apache.taglibs.taglibs-standard-spec"/>
<plugin id="org.apache.xalan"/>
<plugin id="org.apache.xml.serializer"/>
<plugin id="org.eclipse.jetty.osgi.boot.jsp.source"/>
<plugin id="org.eclipse.jetty.osgi-servlet-api"/>
<plugin id="org.eclipse.jetty.osgi-servlet-api.source"/>
<plugin id="javax.annotation"/>
<plugin id="org.eclipse.jetty.io"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.eclipse.osgi.util.source"/>
<plugin id="org.eclipse.jetty.io.source"/>
<plugin id="org.osgi.service.cm"/>
<plugin id="org.osgi.service.component"/>
<plugin id="org.osgi.service.packageadmin"/>
<plugin id="org.osgi.service.provisioning"/>
<plugin id="org.osgi.service.provisioning.source"/>
<plugin id="org.osgi.service.upnp"/>
<plugin id="org.osgi.service.upnp.source"/>
<plugin id="org.osgi.service.device"/>
<plugin id="org.osgi.service.device.source"/>
<plugin id="org.osgi.service.http.whiteboard"/>
<plugin id="org.osgi.service.http.whiteboard.source"/>
<plugin id="org.osgi.service.metatype"/>
<plugin id="org.osgi.service.metatype.source"/>
<plugin id="org.osgi.service.url"/>
<plugin id="org.osgi.service.useradmin"/>
<plugin id="org.osgi.service.useradmin.source"/>
<plugin id="org.osgi.service.wireadmin"/>
<plugin id="org.osgi.service.wireadmin.source"/>
<plugin id="org.osgi.service.event"/>
<plugin id="org.osgi.util.promise"/>
<plugin id="org.osgi.util.promise.source"/>
<plugin id="org.osgi.util.function"/>
<plugin id="org.osgi.util.function.source"/>
<plugin id="org.osgi.util.measurement"/>
<plugin id="org.osgi.util.measurement.source"/>
<plugin id="org.osgi.util.position"/>
<plugin id="org.osgi.util.position.source"/>
<plugin id="org.osgi.util.xml"/>
<plugin id="org.osgi.util.xml.source"/>
<plugin id="redisson"/>
<plugin id="com.esotericsoftware.kryo"/>
<plugin id="com.esotericsoftware.minlog"/>
<plugin id="com.esotericsoftware.reflectasm"/>
<plugin id="com.fasterxml.jackson.core.jackson-annotations"/>
<plugin id="com.fasterxml.jackson.core.jackson-databind"/>
<plugin id="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml"/>
<plugin id="org.yaml.snakeyaml"/>
<plugin id="io.netty.transport"/>
<plugin id="io.netty.buffer"/>
<plugin id="io.netty.common"/>
<plugin id="io.netty.resolver"/>
<plugin id="io.netty.transport-classes-epoll"/>
<plugin id="io.netty.transport-native-unix-common"/>
<plugin id="io.netty.transport-classes-kqueue"/>
<plugin id="io.netty.codec"/>
<plugin id="io.netty.handler"/>
<plugin id="io.netty.resolver-dns"/>
<plugin id="io.netty.codec-dns"/>
<plugin id="io.netty.incubator.netty-incubator-transport-classes-io_uring"/>
<plugin id="io.reactivex.rxjava3.rxjava"/>
<plugin id="reactive-streams"/>
<plugin id="jodd-bean"/>
<plugin id="org.jboss.marshalling.jboss-marshalling-osgi"/>
<plugin id="io.projectreactor.reactor-core"/>
<plugin id="com.diffplug.osgi.extension.sun.misc"/>
<plugin id="com.google.gson"/>
<plugin id="com.google.gson.source"/>
<plugin id="com.amazonaws.aws-lambda-java-core"/>
<plugin id="com.amazonaws.aws-lambda-java-core.source"/>
<plugin id="javax.cache.api"/>
<plugin id="com.google.protobuf"/>
<plugin id="com.google.protobuf.source"/>
<plugin id="com.nulab-inc.zxcvbn"/>
<plugin id="com.nulab-inc.zxcvbn.source"/>
</includeBundles>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>
