<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Race Analysis JSP Target" sequenceNumber="170">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="javax.ws.rs" version="1.1.1.v20130318-1750"/>
<unit id="javax.ws.rs.source" version="1.1.1.v20130318-1750"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.objectweb.asm" version="9.0.0.v20201001-1419"/>
<unit id="org.objectweb.asm.source" version="9.0.0.v20201001-1419"/>
<unit id="org.objectweb.asm.commons" version="9.0.0.v20201001-1419"/>
<unit id="org.objectweb.asm.commons.source" version="9.0.0.v20201001-1419"/>
<unit id="org.objectweb.asm.tree" version="9.0.0.v20201001-1419"/>
<unit id="org.objectweb.asm.tree.source" version="9.0.0.v20201001-1419"/>
<unit id="javax.annotation" version="1.3.5.v20200909-1856"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20201130205003/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
<unit id="org.hamcrest.generator" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.junit" version="4.12.0.v201504281640"/>
<unit id="org.junit.source" version="4.12.0.v201504281640"/>
<unit id="com.sun.jersey" version="1.17.0.v201503170330"/>
<unit id="com.sun.jersey.source" version="1.17.0.v201503170330"/>
<unit id="javax.servlet" version="3.1.0.v201410161800"/>
<unit id="javax.servlet.source" version="3.1.0.v201410161800"/>
<unit id="javax.validation" version="1.0.0.GA_v201205091237"/>
<unit id="javax.validation.source" version="1.0.0.GA_v201205091237"/>
<unit id="javax.xml" version="1.3.4.v201005080400"/>
<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
<unit id="javax.xml.bind.source" version="2.2.0.v201105210648"/>
<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
<unit id="javax.xml.ws" version="2.1.0.v200902101523"/>
<unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
<unit id="org.apache.commons.beanutils.source" version="1.8.0.v201205091237"/>
<unit id="org.apache.commons.codec" version="1.10.0.v20180409-1845"/>
<unit id="org.apache.commons.codec.source" version="1.10.0.v20180409-1845"/>
<unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
<unit id="org.apache.commons.collections.source" version="3.2.2.v201511171945"/>
<unit id="org.apache.commons.fileupload" version="1.2.2.v20111214-1400"/>
<unit id="org.apache.commons.fileupload.source" version="1.2.2.v20111214-1400"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.io.source" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.math" version="2.1.0.v201105210652"/>
<unit id="org.apache.commons.math.source" version="2.1.0.v201105210652"/>
<unit id="org.apache.commons.math3" version="3.5.0.v20160301-1110"/>
<unit id="org.apache.commons.math3.source" version="3.5.0.v20160301-1110"/>
<unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.5.5.v20180409-1525"/>
<unit id="org.apache.httpcomponents.httpclient.source" version="4.5.5.v20180409-1525"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.4.9.v20180409-1525"/>
<unit id="org.apache.httpcomponents.httpcore.source" version="4.4.9.v20180409-1525"/>
<unit id="org.apache.poi" version="3.9.0.v201405241750"/>
<unit id="org.apache.poi.ooxml" version="3.9.0.v201405241905"/>
<unit id="org.apache.poi.ooxml.schemas" version="3.9.0.v201405241750"/>
<unit id="org.apache.xmlbeans" version="2.3.0.v201605172150"/>
<unit id="org.dom4j" version="1.6.1.v20170815-1500"/>
<unit id="org.jdom" version="1.1.1.v201101151400"/>
<unit id="org.jdom.source" version="1.1.1.v201101151400"/>
<unit id="com.jcraft.jsch" version="0.1.54.v20170116-1932"/>
<unit id="com.jcraft.jsch.source" version="0.1.54.v20170116-1932"/>
<unit id="org.apache.xalan" version="2.7.1.v201005080400"/>
<unit id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20180905201904/repository/"/>
</location>
<!-- location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="9.4.35.v20201120"/>
<repository location="https://download.eclipse.org/jetty/updates/jetty-bundles-9.x/"/>
</location -->
<!-- use this location to avoid long running refreshes during development, TODO: remove when everything is set up. -->
<location path="C:\Users\georg\Documents\Business\Kunden\OIO\SAPsailing\Jetty-bundles-repository-9.4.35.v20201120\jetty.bundles.repo\target\site" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.felix.gogo.command" version="0.10.0.v201209301215"/>
<unit id="org.apache.felix.gogo.runtime" version="0.10.0.v201209301036"/>
<unit id="org.apache.felix.gogo.shell" version="0.10.0.v201212101605"/>
<unit id="org.eclipse.equinox.app" version="1.3.400.v20150715-1528"/>
<unit id="org.eclipse.equinox.cm" version="1.2.0.v20170105-1446"/>
<unit id="org.eclipse.equinox.common" version="3.9.0.v20170207-1454"/>
<unit id="org.eclipse.equinox.concurrent" version="1.1.0.v20130327-1442"/>
<unit id="org.eclipse.equinox.console" version="1.1.300.v20170512-2111"/>
<unit id="org.eclipse.equinox.coordinator" version="1.3.300.v20170512-2111"/>
<unit id="org.eclipse.equinox.device" version="1.0.400.v20130327-1442"/>
<unit id="org.eclipse.equinox.event" version="1.4.0.v20170105-1446"/>
<unit id="org.eclipse.equinox.http.jetty" version="3.4.0.v20170503-2025"/>
<unit id="org.eclipse.equinox.http.registry" version="1.1.400.v20150715-1528"/>
<unit id="org.eclipse.equinox.http.servletbridge" version="1.0.300.v20130327-1442"/>
<unit id="org.eclipse.equinox.io" version="1.1.100.v20150430-1834"/>
<unit id="org.eclipse.equinox.ip" version="1.1.400.v20161007-1324"/>
<unit id="org.eclipse.equinox.launcher" version="1.4.0.v20161219-1356"/>
<unit id="org.eclipse.equinox.metatype" version="1.4.300.v20170105-1446"/>
<unit id="org.eclipse.equinox.preferences" version="3.7.0.v20170126-2132"/>
<unit id="org.eclipse.equinox.region" version="1.4.0.v20170117-1425"/>
<unit id="org.eclipse.equinox.registry" version="3.7.0.v20170222-1344"/>
<unit id="org.eclipse.equinox.servletbridge" version="1.3.200.v20160128-1435"/>
<unit id="org.eclipse.equinox.simpleconfigurator" version="1.2.1.v20180131-1435"/>
<unit id="org.eclipse.equinox.supplement" version="1.7.0.v20170329-1416"/>
<unit id="org.eclipse.equinox.transforms.hook" version="1.2.0.v20170105-1446"/>
<unit id="org.eclipse.equinox.transforms.xslt" version="1.0.300.v20130327-1442"/>
<unit id="org.eclipse.equinox.useradmin" version="1.1.400.v20130327-1442"/>
<unit id="org.eclipse.equinox.util" version="1.0.500.v20130404-1337"/>
<unit id="org.eclipse.equinox.wireadmin" version="1.0.600.v20150715-1528"/>
<unit id="org.eclipse.osgi" version="3.12.100.v20180210-1608"/>
<unit id="org.eclipse.osgi.services" version="3.6.0.v20170228-1906"/>
<unit id="org.eclipse.osgi.util" version="3.4.0.v20170111-1608"/>
<unit id="org.eclipse.equinox.event" version="1.4.0.v20170105-1446"/>
<unit id="org.eclipse.equinox.cm" version="1.2.0.v20170105-1446"/>
<repository location="https://download.eclipse.org/releases/oxygen/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.amazon.aws.aws-java-api.feature.group" version="2.15.57"/>
<repository location="https://download.eclipse.org/sailing-analytics/p2/aws-sdk/"/>
</location>
<!-- location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.sap.sailing.target.base.feature.group" version="1.0.0"/>
<unit id="com.sap.sailing.target.jackson.feature.group" version="1.0.0"/>
<unit id="com.sap.sailing.target.jms.feature.group" version="1.0.0"/>
<unit id="com.sap.sailing.target.shiro.feature.group" version="1.0.0"/>
<unit id="com.sap.sailing.target.test.feature.group" version="1.0.0"/>
<repository location="https://p2.sapsailing.com/p2/sailing/"/>
</location -->
<!-- local update site -->
<location path="C:\repository\java\com.sap.sailing.targetplatform.base\target\repository" type="Directory"/>
</locations>
<includeBundles>
<plugin id="com.rabbitmq.client"/>
<plugin id="com.sun.activation.javax.activation"/>
<plugin id="com.sun.istack.commons-runtime"/>
<plugin id="com.sun.jersey"/>
<plugin id="com.sun.jersey.contribs.jersey-multipart"/>
<plugin id="com.sun.jersey.source"/>
<plugin id="com.sun.mail.javax.mail"/>
<plugin id="com.sun.xml.bind.jaxb-impl"/>
<plugin id="jackson-core-asl"/>
<plugin id="jackson-jaxrs"/>
<plugin id="jackson-mapper-asl"/>
<plugin id="javax.security.auth.message"/>
<plugin id="javax.security.auth.message.source"/>
<plugin id="javax.validation"/>
<plugin id="javax.validation.source"/>
<plugin id="javax.ws.rs"/>
<plugin id="javax.ws.rs.source"/>
<plugin id="javax.xml"/>
<plugin id="jaxb-api"/>
<plugin id="javax.xml.stream"/>
<plugin id="javax.xml.ws"/>
<plugin id="jcl.over.slf4j"/>
<plugin id="jul.to.slf4j"/>
<plugin id="lz4-java"/>
<plugin id="org.apache.commons.beanutils" version="1.9.0"/>
<plugin id="org.apache.commons.beanutils.source"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.apache.commons.collections"/>
<plugin id="org.apache.commons.collections.source"/>
<plugin id="org.apache.commons.fileupload"/>
<plugin id="org.apache.commons.fileupload.source"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.apache.commons.io.source"/>
<plugin id="org.apache.commons.lang"/>
<plugin id="org.apache.commons.lang.source"/>
<plugin id="org.apache.commons.math"/>
<plugin id="org.apache.commons.math.source"/>
<plugin id="org.apache.commons.math3"/>
<plugin id="org.apache.commons.math3.source"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.apache.felix.gogo.command"/>
<plugin id="org.apache.felix.gogo.command.source"/>
<plugin id="org.apache.felix.gogo.runtime"/>
<plugin id="org.apache.felix.gogo.runtime.source"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.apache.felix.gogo.shell.source"/>
<plugin id="org.apache.httpcomponents.httpclient"/>
<plugin id="org.apache.httpcomponents.httpclient.source"/>
<plugin id="org.apache.httpcomponents.httpcore"/>
<plugin id="org.apache.httpcomponents.httpcore.source"/>
<plugin id="org.apache.poi"/>
<plugin id="org.apache.poi.ooxml"/>
<plugin id="org.apache.poi.ooxml.schemas"/>
<plugin id="org.apache.servicemix.bundles.ehcache"/>
<plugin id="org.apache.servicemix.bundles.scribe"/>
<plugin id="org.apache.servicemix.bundles.zxing"/>
<plugin id="org.apache.shiro.core"/>
<plugin id="org.apache.shiro.ehcache"/>
<plugin id="org.apache.shiro.web"/>
<plugin id="org.apache.shiro.core.source"/>
<plugin id="org.apache.shiro.ehcache.source"/>
<plugin id="org.apache.shiro.web.source"/>
<plugin id="org.apache.xmlbeans"/>
<plugin id="org.codehaus.jettison.jettison"/>
<plugin id="org.dom4j"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="org.eclipse.equinox.cm.source"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.eclipse.equinox.console"/>
<plugin id="org.eclipse.equinox.console.source"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="org.eclipse.equinox.launcher.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.source"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.equinox.util.source"/>
<plugin id="org.eclipse.jetty.annotations"/>
<plugin id="org.eclipse.jetty.annotations.source"/>
<plugin id="org.eclipse.jetty.client"/>
<plugin id="org.eclipse.jetty.client.source"/>
<plugin id="org.eclipse.jetty.continuation"/>
<plugin id="org.eclipse.jetty.deploy"/>
<plugin id="org.eclipse.jetty.deploy.source"/>
<plugin id="org.eclipse.jetty.http"/>
<plugin id="org.eclipse.jetty.http.source"/>
<plugin id="org.eclipse.jetty.io"/>
<plugin id="org.eclipse.jetty.io.source"/>
<plugin id="org.eclipse.jetty.jaas"/>
<plugin id="org.eclipse.jetty.jmx"/>
<plugin id="org.eclipse.jetty.jmx.source"/>
<plugin id="org.eclipse.jetty.osgi.boot"/>
<plugin id="org.eclipse.jetty.osgi.boot.source"/>
<plugin id="org.eclipse.jetty.osgi.boot.warurl"/>
<plugin id="org.eclipse.jetty.osgi.boot.warurl.source"/>
<plugin id="org.eclipse.jetty.proxy"/>
<plugin id="org.eclipse.jetty.rewrite"/>
<plugin id="org.eclipse.jetty.rewrite.source"/>
<plugin id="org.eclipse.jetty.security"/>
<plugin id="org.eclipse.jetty.security.source"/>
<plugin id="org.eclipse.jetty.server"/>
<plugin id="org.eclipse.jetty.server.source"/>
<plugin id="org.eclipse.jetty.servlet"/>
<plugin id="org.eclipse.jetty.servlet.source"/>
<plugin id="org.eclipse.jetty.util"/>
<plugin id="org.eclipse.jetty.util.source"/>
<plugin id="org.eclipse.jetty.util.ajax"/>
<plugin id="org.eclipse.jetty.util.ajax.source"/>
<plugin id="org.eclipse.jetty.webapp"/>
<plugin id="org.eclipse.jetty.webapp.source"/>
<plugin id="org.eclipse.jetty.websocket.api"/>
<plugin id="org.eclipse.jetty.websocket.api.source"/>
<plugin id="org.eclipse.jetty.websocket.client"/>
<plugin id="org.eclipse.jetty.websocket.client.source"/>
<plugin id="org.eclipse.jetty.websocket.common"/>
<plugin id="org.eclipse.jetty.websocket.common.source"/>
<plugin id="org.eclipse.jetty.xml"/>
<plugin id="org.eclipse.jetty.xml.source"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.eclipse.osgi.util.source"/>
<plugin id="org.hamcrest"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.hamcrest.integration"/>
<plugin id="org.hamcrest.library"/>
<plugin id="org.hamcrest.text"/>
<plugin id="org.hyperic.sigar"/>
<plugin id="org.jdom"/>
<plugin id="org.jdom.source"/>
<plugin id="org.junit"/>
<plugin id="org.junit.source"/>
<plugin id="org.jvnet.mimepull"/>
<plugin id="org.mockito.mockito-core"/>
<plugin id="org.mongodb.mongo-java-driver"/>
<plugin id="org.mongodb.mongo-java-driver.source"/>
<plugin id="org.objenesis"/>
<plugin id="routeconverter"/>
<plugin id="slf4j.api"/>
<plugin id="com.chargebee.chargebee-java"/>
<plugin id="slf4j.jdk14"/>
<plugin id="com.amazon.aws.aws-java-api"/>
<plugin id="com.jcraft.jsch"/>
<plugin id="com.jcraft.jsch.source"/>
<plugin id="org.apache.commons.codec.source"/>
<plugin id="org.apache.poi.ooxml.schemas.source"/>
<plugin id="org.apache.poi.ooxml.source"/>
<plugin id="org.apache.poi.source"/>
<plugin id="org.apache.xmlbeans.source"/>
<plugin id="org.dom4j.source"/>
<plugin id="com.amazon.aws.aws-java-api.source"/>
<plugin id="org.eclipse.equinox.event"/>
<plugin id="org.eclipse.equinox.event.source"/>
<plugin id="org.eclipse.jetty.jndi"/>
<plugin id="org.eclipse.jetty.jndi.source"/>
<plugin id="org.eclipse.jetty.plus"/>
<plugin id="org.eclipse.jetty.plus.source"/>
<plugin id="javax.annotation-api"/>
<plugin id="org.apache.aries.spifly.dynamic.bundle"/>
<plugin id="org.objectweb.asm" version="9.0.0.v20201001-1419"/>
<plugin id="org.objectweb.asm.commons" version="9.0.0.v20201001-1419"/>
<plugin id="org.objectweb.asm.tree" version="9.0.0.v20201001-1419"/>
<plugin id="org.apache.geronimo.specs.geronimo-jta_1.1_spec"/>
<plugin id="org.mortbay.jasper.apache-el"/>
<plugin id="org.mortbay.jasper.apache-jsp"/>
<plugin id="org.eclipse.jetty.apache-jsp"/>
<plugin id="org.eclipse.jdt.core.compiler.batch"/>
<plugin id="org.eclipse.jetty.osgi.boot.jsp"/>
<plugin id="org.apache.taglibs.standard-impl"/>
<plugin id="org.apache.taglibs.taglibs-standard-spec"/>
<plugin id="org.apache.xalan"/>
<plugin id="org.apache.xml.serializer"/>
<plugin id="org.eclipse.jetty.osgi.boot.jsp.source" version="9.4.35.v20201120"/>
<plugin id="org.mortbay.jasper.apache-jsp.source"/>
<plugin id="org.eclipse.jetty.osgi-servlet-api" version="3.1.0.M3"/>
<plugin id="org.eclipse.jetty.osgi-servlet-api.source"/>
<plugin id="org.objectweb.asm.source"/>
<plugin id="org.objectweb.asm.tree.source"/>
<plugin id="org.objectweb.asm.commons.source"/>
<plugin id="javax.annotation" version="1.3.5.v20200909-1856"/>
</includeBundles>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>
